---
Checks: >
  *,
  -fuchsia*,
  -zircon*,

  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-macro-usage,
  -hicpp-no-array-decay,
  -llvm-header-guard,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
FormatStyle: file
